/*
    #b61984
    #fff
    #191919
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 200vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.active {
  color: #b61984 !important;
}

ul {
  list-style: none;
  padding: 0;
}
ul li {
  text-decoration: none;
}

#header {
  background-image: url(../images/yellow_top_wave_01.png);
  background-position: unset;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0 0 90px 0;
}
#header .navbar {
  padding: 0;
}
#header .navbar .navbar-brand {
  padding: 0;
  width: 80px;
}
#header .navbar .navbar-brand img {
  width: 100%;
}
#header .navbar ul li a {
  text-align: center;
  position: relative;
  color: #191919;
  font-size: 13px;
}
#header .navbar ul li a::after {
  position: absolute;
  content: "";
  display: none;
  color: #b61984;
  height: 8px;
  width: 8px;
  pointer-events: none;
  background-color: #b61984;
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  right: 50%;
}
#header .navbar ul li a:hover {
  color: #b61984;
}
#header .navbar ul li a:hover:after {
  display: block;
}
#header .navbar ul li .active {
  position: relative;
}
#header .navbar ul li .active::after {
  position: absolute;
  content: "";
  display: block;
  color: #b61984;
  height: 8px;
  width: 8px;
  pointer-events: none;
  background-color: #b61984;
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  right: 50%;
}
#header .navbar .nav-end .tele {
  font-size: 0.9rem;
  font-weight: 400;
  border: 1px solid #b61984;
  background-color: #b61984;
  padding: 0 10px;
  border-radius: 25px;
  transition: all 0.5s ease-out;
}
#header .navbar .nav-end .tele:hover {
  border: 1px solid #b61984;
  background-color: #fff;
}
#header .navbar .nav-end .tele a {
  color: #fff;
}
#header .navbar .nav-end .tele a:hover {
  color: #b61984;
}
#header .navbar .nav-end a:hover {
  color: #b61984;
}
#header .navbar .nav-end a:hover:after {
  display: none !important;
}
#header .navbar .navbar-collapse {
  justify-content: end;
}

#content {
  /*content top*/
  /*content mid*/
  /*content bot*/
}
#content .content-top {
  background-image: url("/images/Violet_top_left_wave.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
#content .content-top .row {
  align-items: center;
  padding-bottom: 50px;
}
#content .content-top .row span {
  color: #b61984;
  font-size: 1.1rem;
  font-weight: 600;
}
#content .content-top .row header h1 {
  font-weight: 700 !important;
  line-height: 1.2;
  font-size: 3.8rem;
}
#content .content-top .row col img {
  width: 100%;
}
@media (min-width: 700px) {
  #content .content-top .row col img {
    width: auto;
  }
}
#content .content-mid {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #dcd1f0;
  position: relative;
  margin-bottom: 200px;
}
#content .content-mid .row .col {
  z-index: 1;
  transition-delay: 800ms;
}
#content .content-mid .row .col .card {
  margin: 5px 10px;
  border: none;
  transition: all 300ms ease-in-out;
  overflow: hidden;
  position: relative !important;
}
#content .content-mid .row .col .card:hover {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}
#content .content-mid .row .col .card .img-teacher {
  overflow: hidden;
}
#content .content-mid .row .col .card .img-teacher img {
  display: block;
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
}
#content .content-mid .row .col .card .img-teacher img:hover {
  transform: scale(1.1);
  transition: transform 0.3s linear;
  border-radius: 6px;
}
#content .content-mid .row .col .card .card-body {
  overflow: hidden;
  padding: 30px 0;
  overflow: hidden;
  text-align: center;
  line-height: 2;
  z-index: 2;
}
#content .content-mid .row .col .card .card-body span {
  color: #b61984;
  font-size: 0.75rem;
  font-weight: 400;
}
#content .content-mid .row .col .card .card-body h3 {
  margin: 5px 0;
  font-size: 1.55rem;
  font-weight: 700;
}
#content .content-mid .row .col .card .card-body p {
  font-weight: 500;
}
#content .img {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
}
#content .content-bot {
  background-image: url("/images/accent_bottom_wave_01.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding-bottom: 20px;
}
#content .content-bot .row {
  align-items: center;
}
@media (max-width: 900px) {
  #content .content-bot .row {
    display: block;
    width: 100%;
  }
}
#content .content-bot .row .col {
  width: 50%;
}
@media (max-width: 900px) {
  #content .content-bot .row .col {
    width: 100%;
  }
}
#content .content-bot .row .left-col {
  margin-left: 150px;
}
#content .content-bot .row .left-col .img-bg img {
  padding: 0 20px;
  width: 100%;
}
@media (max-width: 900px) {
  #content .content-bot .row .left-col .img-bg img {
    display: none;
  }
}
#content .content-bot .row .card {
  background: transparent;
  border: none;
  padding: 0;
  margin-right: 150px;
}
#content .content-bot .row .card .form-container {
  border-radius: 20px;
  width: 80%;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 0 0 0 auto;
}
#content .content-bot .row .card .form-container .colunm-content {
  margin: 0 0 85px 0;
  width: 100%;
  text-align: center;
}
#content .content-bot .row .card .form-container .form-content {
  width: 100%;
}
#content .content-bot .row .card .form-container .form-content .row .col .input-zone1 {
  border: none;
  display: flex;
  position: relative;
  width: 100%;
  padding: 0 20px;
  align-items: center;
  padding-bottom: 30px;
}
#content .content-bot .row .card .form-container .form-content .row .col .input-zone1 .input-zone {
  border: 1px solid rgba(189, 202, 212, 0.6274509804);
  width: 100%;
  padding: 10px 35px;
  border-radius: 15px;
}
#content .content-bot .row .card .form-container .form-content .row .col .input-zone1 input {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
#content .content-bot .row .card .form-container .form-content .row .col .input-zone1 .icon {
  position: absolute;
  overflow: hidden;
  display: block;
  font-size: 20px;
  line-height: 20px;
  z-index: 1;
  color: #b61984;
  padding-left: 10px;
  padding-right: 30px;
}
#content .content-bot .row .card .form-container .form-content .row .col .icon1 {
  align-items: flex-start;
  overflow: hidden;
}
#content .content-bot .row .card .form-container .form-content .row .col .icon1 .icon {
  top: 5%;
}
#content .content-bot .row .card .form-container .form-content .btn {
  padding-top: 20px;
  margin-bottom: 10px;
}
#content .content-bot .row .card .form-container .form-content .btn button {
  color: #fff;
  height: 48px;
  width: 150px;
  font-size: 0.9rem;
  font-weight: 400;
  border: 1px solid #b61984;
  background-color: #b61984;
  padding: 0 10px;
  border-radius: 25px;
  transition: all 0.5s ease-out;
}
#content .content-bot .row .card .form-container .form-content .btn button:hover {
  border: 1px solid #b61984;
  background-color: #fff;
}
#content .content-bot .row .card .form-container .form-content .btn button a {
  color: #fff;
}
#content .content-bot .row .card .form-container .form-content .btn button a:hover {
  color: #b61984;
}
#content .content-bot .row .card .form-container .form-content .btn button:hover {
  color: #b61984;
}

#footer {
  background-image: url("/images/footer_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 200px;
  color: #fff;
}
#footer .row .col {
  padding-top: 150px;
}
#footer .row .col .title p {
  font-weight: 700;
  font-size: 1.55rem;
  overflow-wrap: inherit;
}
#footer .row .col .content .content-detail ul li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 2;
  padding: 0.9em 0;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
}
#footer .row .col .content .content-detail ul li span {
  line-height: 2.2;
  padding: 5px 0;
  font-weight: 400;
  padding: 0 10px 10px 0;
}
#footer .row .col .content .content-detail ul li span i {
  font-weight: 600;
}
#footer .row .col .content .content-detail input, #footer .row .col .content .content-detail button {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 50px;
  padding: 1em;
  margin-bottom: 15px;
  transition: all 0.2s ease-in-out;
}
#footer .row .col .content .content-detail button {
  background-color: #fff;
  font-weight: 700;
}
#footer .row .col .content .content-detail button:hover {
  background-color: #b61984;
  border-color: #fff;
  color: #fff;
}