/*
    #b61984
    #fff
    #191919
*/
$primary-color: #fff;
$secondary-color: #191919;
$main-color: #b61984;

$text-font-1:13px;
$text-font-2:.9rem;
$text-font-3:.75rem;
$text-font-4:1.1rem;
$text-font-5:1.25em;
$text-font-6:1.55rem;
$text-font-7:2.5rem;
$text-font-8:3.8rem;


$text-font-weight-1:300;
$text-font-weight-2:400;
$text-font-weight-3:500;
$text-font-weight-4:600;
$text-font-weight-6:700;
$text-font-weight-7:800;